{% extends 'base.html.twig' %}

{% block body %}
	<div class="card">
		<div class="card-body d-flex">
			<div class="col-2">
				<img class="col-12" src="{{ asset('images/collaboration/git.png') }}" alt="Git">
				<p class="text-center mt-2">
					Git
				</p>
			</div>
			<div class="col-2">
				<img class="col-12" src="{{ asset('images/collaboration/github.png') }}" alt="Github">
				<p class="text-center mt-2">Github</p>
			</div>
			<div class="col-2">
				<img class="col-12" src="{{ asset('images/collaboration/jira.png') }}" alt="Jira">
				<p class="text-center mt-2">Jira</p>
			</div>
			{# AJOUTER TRELLO #}
		</div>
	</div>
{% endblock %}
