{% extends 'base.html.twig' %}

{% block body %}
	<div class="card card-success">
		<div class="card-body">
			<div class="row">
				<div class="col-md-4 mb-4">
					<div class="card project-card">
						<img src="https://picsum.photos/seed/picsum/200/300" class="card-img-top" alt="Projet 1">
						<div class="card-body">
							<h5 class="card-title">Projet 1: Application Web</h5>
							<p class="card-text">Description brève de l'application web que j'ai réalisée.</p>
							<button class="btn btn-primary" data-toggle="modal" data-target="#projectModal" data-title="Projet 1: Application Web" data-description="Détails supplémentaires sur l'application web. Technologies utilisées : HTML, CSS, JavaScript.">Voir le projet</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card project-card">
						<img src="https://picsum.photos/200/300?grayscale" class="card-img-top" alt="Projet 2">
						<div class="card-body">
							<h5 class="card-title">Projet 2: API REST</h5>
							<p class="card-text">Description brève de l'API que j'ai développée.</p>
							<button class="btn btn-primary" data-toggle="modal" data-target="#projectModal" data-title="Projet 2: API REST" data-description="Détails supplémentaires sur l'API REST. Technologies utilisées : Node.js, Express, MongoDB.">Voir le projet</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card project-card">
						<img src="https://picsum.photos/200/300/?blur" class="card-img-top" alt="Projet 3">
						<div class="card-body">
							<h5 class="card-title">Projet 3: Application Mobile</h5>
							<p class="card-text">Description brève de l'application mobile que j'ai créée.</p>
							<button class="btn btn-primary" data-toggle="modal" data-target="#projectModal" data-title="Projet 3: Application Mobile" data-description="Détails supplémentaires sur l'application mobile. Technologies utilisées : React Native, Expo.">Voir le projet</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 mb-4">
					<div class="card project-card">
						<img src="https://picsum.photos/id/870/200/300?grayscale&blur=2" class="card-img-top" alt="Projet 4">
						<div class="card-body">
							<h5 class="card-title">Projet 3: Application Mobile</h5>
							<p class="card-text">Description brève de l'application mobile que j'ai créée.</p>
							<button class="btn btn-primary" data-toggle="modal" data-target="#projectModal" data-title="Projet 3: Application Mobile" data-description="Détails supplémentaires sur l'application mobile. Technologies utilisées : React Native, Expo.">Voir le projet</button>
						</div>
					</div>
				</div>

				<!-- Ajoutez plus de projets ici -->


			</div>


		</div><!-- Modal --><div class="modal fade" id="projectModal" tabindex="-1" role="dialog" aria-labelledby="projectModalLabel" aria-hidden="true">
			<div class="modal-dialog  modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="projectModalLabel">Titre du Projet</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div
							class="text-center">
							<!-- Ajoute une div pour centrer uniquement l'image -->
							<img id="projectModalImage" class="img-fluid mb-3" src="https://picsum.photos/seed/picsum/200/200" alt="Image du projet" style="max-width: 100%; height: auto;">
						</div>

						<p id="projectModalDescription">
							Cette application de gestion de tâches permet aux utilisateurs de créer, modifier et supprimer des tâches. 
																																																																																													                    Elle offre également des fonctionnalités de tri et de filtrage, permettant aux utilisateurs de gérer efficacement leur emploi du temps.
						</p>
						<p>
							<strong>Technologies utilisées:</strong>
							<span id="projectModalTechnologies">HTML, CSS, JavaScript, Bootstrap, jQuery</span>
						</p>
						<a id="projectModalLink" href="https://picsum.photos/seed/picsum/200/300" class="btn btn-info" target="_blank">Voir le projet</a>
					</div>


				</div>
			</div>
		</div>

	</div>

</div>{% endblock %}
