{% block body %}
	<section class="content">
		<div class="row">
			<div class="col-12" id="accordion">
				<div class="card card-primary card-outline">
					<a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								Network World
							</h4>
						</div>
					</a>
					<div id="collapseOne" class="collapse" data-parent="#accordion" style="">
						<div class="card-body">
							<p>
								Network World est une publication en ligne dédiée aux professionnels des réseaux. Le site couvre une vaste gamme dse sujets, allant des technologies émergentes aux tendances du marché, en passant par les meilleures pratiques en matière de gestion des réseaux. Les articles incluent des analyses de produits, des études de cas et des conseils pratiques.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								TechCrunch
							</h4>
						</div>
					</a>
					<div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
						<div class="card-body">
							<p>
								Bien que TechCrunch soit principalement axé sur les nouvelles technologies et les startups, il offre une couverture significative des tendances en matière de réseaux informatiques. Les articles de fond et les analyses approfondies sur les innovations et les nouvelles entreprises dans le secteur technologique sont particulièrement utiles.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								The Register
							</h4>
						</div>
					</a>
					<div id="collapseThree" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								The Register est un site d'actualités technologiques qui couvre un large éventail de sujets, y compris les réseaux informatiques. Avec un ton souvent provocateur, le site propose des analyses critiques des dernières innovations et des tendances du marché, attirant un public engagé et averti.</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>

					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								ZDNet
							</h4>
						</div>
					</a>
					<div id="collapseFour" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								ZDNet fournit des nouvelles et des analyses sur divers aspects de la technologie, y compris les réseaux informatiques. Le site aborde des sujets tels que la sécurité des réseaux, les infrastructures cloud, et les nouvelles technologies, tout en offrant des conseils pratiques pour les professionnels de l'IT.</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseFive">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								Ars Technica
							</h4>
						</div>
					</a>
					<div id="collapseFive" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								Ars Technica est une publication en ligne qui couvre des sujets technologiques, avec une section robuste dédiée aux réseaux. Le site propose des analyses approfondies et des critiques sur les technologies de réseau, les protocoles, et les innovations.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseSix">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								Network Computing
							</h4>
						</div>
					</a>
					<div id="collapseSix" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								Network Computing se concentre spécifiquement sur les technologies de réseau et les infrastructures informatiques. Le site propose des articles, des critiques de produits, et des conseils pratiques sur des sujets allant des réseaux sans fil aux systèmes de stockage. En plus des nouvelles et des analyses, Network Computing propose également des webinaires et des ressources éducatives, permettant aux professionnels de se former sur les dernières technologies et tendances du marché.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseSeven">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								InfoWorld
							</h4>
						</div>
					</a>
					<div id="collapseSeven" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								InfoWorld est un site qui s'adresse aux professionnels de l'informatique, offrant des nouvelles, des analyses et des conseils pratiques sur les technologies, y compris les réseaux. Les articles abordent des sujets comme la virtualisation, le cloud computing et la gestion des données. La publication est connue pour ses analyses critiques et ses évaluations de produits, fournissant des informations précieuses pour les décisions d'achat. Les sections de tutoriels et de meilleures pratiques sont particulièrement utiles pour les professionnels cherchant à améliorer leurs compétences.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseEigth">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								Reddit (r/networking)
							</h4>
						</div>
					</a>
					<div id="collapseEigth" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								La communauté Reddit dédiée à la mise en réseau est un excellent endroit pour échanger des idées, poser des questions et partager des ressources. Les utilisateurs discutent des dernières tendances, des problèmes techniques, et des solutions innovantes dans le domaine des réseaux informatiques. En tant que plateforme communautaire, Reddit permet d'accéder à des informations directement partagées par des professionnels du secteur. Cela offre un point de vue diversifié et souvent pratique, ce qui est précieux pour ceux qui souhaitent rester informés et résoudre des problèmes en temps réel.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseNine">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								Gartner
							</h4>
						</div>
					</a>
					<div id="collapseNine" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								Gartner est une société de recherche et de conseil reconnue qui fournit des analyses approfondies sur divers secteurs technologiques, y compris les réseaux. Leur contenu comprend des rapports de recherche, des prévisions de marché et des évaluations de technologies émergentes. Bien que l'accès à certains rapports nécessite un abonnement, les résumés et les articles disponibles gratuitement offrent des insights précieux sur les tendances du marché et les meilleures pratiques en matière de gestion des réseaux.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
				<div class="card card-primary card-outline">
					<a class="d-block w-100" data-toggle="collapse" href="#collapseTen">
						<div class="card-header">
							<h4 class="card-title w-100 text-white">
								Packet Pushers
							</h4>
						</div>
					</a>
					<div id="collapseTen" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<p>
								Packet Pushers est un site axé sur les réseaux qui propose des articles, des podcasts et des webinaires sur des sujets techniques. Les discussions vont des protocoles réseau aux meilleures pratiques de configuration, offrant une grande profondeur d'analyse. Les podcasts sont particulièrement appréciés pour leur format accessible, permettant aux professionnels de se tenir informés tout en étant en déplacement. La communauté qui gravite autour de Packet Pushers favorise l'échange de connaissances et l'entraide entre les professionnels des réseaux.
							</p>
							<p>
								<a href="#" target="_blank">En savoir plus</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
