{% extends 'base.html.twig' %}

{% block body %}
	<div>
		{% include 'fragments/body/_presentation.html.twig' %}
		{% include 'fragments/body/_parcours-pro.html.twig' %}
		{% include 'fragments/body/_competences.html.twig' %}
		{% include 'fragments/body/_projets-tech.html.twig' %}
	</div>
{% endblock %}
